<a href="https://colab.research.google.com/github/thoufiqz55/Language_Detection/blob/main/Language_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import re
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn import pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

Loading dataset

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/Dataset/Language Detection.csv')
data.tail()

                                                    Text Language
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

In [ ]:
data['Language'].value_counts()

English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: Language, dtype: int64

Removing the Punctuations

In [ ]:
import string
print(string.punctuation)
#In the place of [!@#$(),\n%^&*?\:;~`0-9] we can also use string.punctuation
def remove_symbols(text):
      text = re.sub(r'[!@#$(),\n%^&*?\:;~`0-9]','',text)
      text = re.sub(r'[[]]','',text)
      
      return text.lower()

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
def rel(text):
  text = re.sub(r'[a-zA-Z]+','',text)
  return text.lower()

In [ ]:
df = data.apply(lambda x: rel(x.Text) if x.Language == ['Hindi','Kannada','Tamil','Arabic','Malayalam'] else x.Text, axis = 1)

In [ ]:
df=df.apply(remove_symbols)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Possible nested set at position 1

In [ ]:
x=df
y=data['Language']

In [ ]:
x_train ,x_test, y_train, y_test = train_test_split(x,y,random_state=42)

In [ ]:
vect = TfidfVectorizer(ngram_range=(1,5),analyzer='char')

In [ ]:
mod=pipeline.Pipeline([('vectorizer',vect),('clf',LogisticRegression())])

In [ ]:
mod.fit(x_train,y_train)

Pipeline(steps=[('vectorizer',
                 TfidfVectorizer(analyzer='char', ngram_range=(1, 5))),
                ('clf', LogisticRegression())])

In [ ]:
prediction=mod.predict(x_test)

In [ ]:
print("Accuracy:",accuracy_score(y_test,prediction))

Accuracy: 0.9856866537717601

In [ ]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

      Arabic       0.99      1.00      1.00       134
      Danish       0.97      0.96      0.96        97
       Dutch       0.98      0.96      0.97       139
     English       0.97      1.00      0.98       364
      French       0.99      0.99      0.99       269
      German       0.99      0.97      0.98       116
       Greek       1.00      1.00      1.00        86
       Hindi       1.00      1.00      1.00        13
     Italian       0.99      0.97      0.98       180
     Kannada       1.00      1.00      1.00        78
   Malayalam       1.00      0.99      1.00       158
  Portugeese       0.99      0.97      0.98       170
     Russian       1.00      1.00      1.00       171
     Spanish       0.99      0.99      0.99       206
    Sweedish       0.97      0.97      0.97       162
       Tamil       1.00      1.00      1.00       114
     Turkish       0.99      1.00      1.00       128

    accuracy                           0.99      2585
   macro avg       0.99      0.99      0.99      2585
weighted avg       0.99      0.99      0.99      2585

In [ ]:
one = x_test[55:56]
one

33    rock units are first emplaced either by deposi...
dtype: object

In [ ]:
pred_one = mod.predict(one)
pred_one

array(['English'], dtype=object)

In [ ]:
two = x_test[155:156]
two

3055    eu não estou interessado.
dtype: object

In [ ]:
pred_two = mod.predict(two)
pred_two

array(['Portugeese'], dtype=object)

In [ ]:
three = x_test[1330:1331]
three

9092    لذلك، لا تملي اللجنة محتوى المقالات، على الرغم...
dtype: object

In [ ]:
pred_three = mod.predict(three)
pred_three

array(['Arabic'], dtype=object)

In [ ]:
four = x_test[1167:1168]
four

1702    ഞാൻ ചോദിക്കുന്നു അവസാനം ഞാൻ പറയുന്നു.
dtype: object

In [ ]:
pred_four = mod.predict(four)
pred_four

array(['Malayalam'], dtype=object)

In [ ]:
five=x_test[576:577]
five

6227    на май  года согласно alexa википедия занимала...
dtype: object

In [ ]:
pred_five=mod.predict(five)
pred_five

array(['Russian'], dtype=object)